/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */
/* IN GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
 }
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #fff;
} 
a {
    text-decoration: none;
}
/* COMMON USE */
.btn {
    width: 225px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Aleo';
    letter-spacing: 0.075em;
    font-weight: 400;
    font-size: 16px;
    line-height: 386%;
    background-color: #5474fd;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 45px;
}
.title {
font-family: 'Aleo';
font-weight: 400;
font-size: 36px;
line-height: 72%;
text-align: center;
color: #FFFFFF;
}

/* HEADER */
header {
    background: url(../images/header.png) 50% / cover no-repeat;
    position: relative;
    display: flex;
    margin: auto;
    min-height: calc(100vh - 80px);
}

.header {
    display: flex;
    margin-top: 264px;
    width: 45%;
}

.title--header {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.header__text {
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 0.31em;
    margin-top: 10px;
}

.header__form {
    width: 650px;
    margin: 50px auto 0;
}

.form__field {
    width: 500px;
    height: 60px;
    float: left;
    line-height: 186%;
    text-align: center;
    border: 0;
    font-family: 'Josefin Sans';
    font-size: 20px;
    letter-spacing: 0.1em;
}

.form__btn {
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    border: 2px solid #fff;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.form__text-input {
    color: #FFFFFF;
    padding-right: 10px;
    font-size: 14px;
    line-height: 186%;
    font-weight: 400;
}

.form__field::placeholder {
    font-family: 'Josefin Sans';
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #999999;
    text-transform: capitalize;
}

.scroll__link {
    position: absolute;
    left: 50%;
    bottom: 100px;
    text-align: center;
    margin-left: -47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.scroll__text {
    font-size: 14px;
    letter-spacing: 0.2em;
    position: relative;
}

.scroll__arrow {
    margin-top: 10px;
}